amqp==2.5.2
asgiref==3.2.7
astroid==2.4.1
billiard==3.6.3.0
celery==4.4.2
certifi==2020.4.5.1
Django==3.0.7
django-cors-headers==3.3.0
django-notifs==2.6.2
django-templated-mail==1.1.1
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.4.0
djoser==2.0.3
gunicorn==20.0.4
isort==4.3.21
kombu==4.6.8
lazy-object-proxy==1.4.3
mccabe==0.6.1
pika==1.1.0
psycopg2==2.8.4
ptvsd==4.3.2
PyJWT==1.7.1
pylint==2.5.2
pytz==2019.3
six==1.14.0
sqlparse==0.3.1
toml==0.10.1
vine==1.3.0
whitenoise==5.0.1
wincertstore==0.2
wrapt==1.12.1
uwsgi==2.0.18
